body{
    margin: 0;
}

.page{
    width: 100%;
    margin: auto;
    height: 100vh;
    display: flex;
}

.page1{
    background-color:#FFF5E4;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.page1 img{
    height: 60px;
    box-shadow:10px 10px 10px #7A316F;

}

.name-div{
    grid-area: 4/4/5/10;
    text-align: center;
}



.name{
    color: white;
    text-shadow: 10px 10px 10px #7A316F;
    font-family: "Sacramento", cursive;
    font-size: 5rem;
    margin: 0;
    font-weight:800;
   
}

.name-div p{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
    color:#7A316F;
    text-shadow: 10px 10px 10px #7A316F;
}

@media (max-width:740px){
    .name{
        font-size: 3rem;
    }
    .page1 img{
        height: 40px;
    }
    .name-div p{
        font-size: 1.5rem;
    }
}

@media (max-width:460px){
    .name{
        font-size: 2rem;
    }
    .page1 img{
        height: 25px;
    }
    .name-div p{
        font-size: 1rem;
    }
}


.page1 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image1{
    grid-area: 1/1/3/3;
}

.image2{
    grid-area: 2/4/4/6;
   
}

.image3{
    grid-area: 4/2/5/4;
  
}

.image4{
    grid-area: 6/1/8/3;
   
}

.image5{
    grid-area: 1/6/3/8;
   
}

.image6{
    grid-area: 2/8/4/10;
   
}

.image7{
    grid-area: 1/11/3/13;
   
}

.image8{
    grid-area: 5/4/7/6;
   
}

.image9{
    grid-area: 6/6/8/8;
    
}

.image10{
    grid-area: 6/11/8/13;
    
}

.image11{
    grid-area: 5/8/7/10;
    
}

.image12{
    grid-area: 4/10/5/12;
   
   
}


.me{
    height: 250px;
    
    float: left;
    

}

.me-div{
    box-shadow: 10px 10px 30px black;
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.page2{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2 h1
{
   font-size: 3rem;
   color: #FCBAAD;

}

.page2 p{
    font-size: 1.5rem;
    color: black
}

.border{
    width: 100px;
    height: 0px;
    border-top: 10px dotted #FCBAAD;
}

.page3{
    background-color: #FFF5E4;
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100vh;
    justify-content: center;
    
}

.page3-div1{
    text-align: center;
}

.page3-div2{
    display: flex;
    justify-content: space-evenly;

}

.work{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.work img{
    height: 100px;
    
}

.work .img-div{
    width: 140px;
    height: 140px;
    box-shadow: 10px 10px 30px black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.img-div:hover{
    box-shadow:10px 10px 10px black;
}

.page3 h1{
    font-size: 3rem;
    color: #7A316F;
    margin-bottom: 80px;
}

.page4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.page4 button{
    margin-top: 30px;
}

.page4 h1{
    color: #FCBAAD;
}

.page4{
    font-size: 1.5rem;
}


.page4 button{
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    background-color: #7A316F;
    color: #FFF5E4;
    box-shadow: 10px 10px 10px black;
    border: none;
    border-radius: 5px;
}

.page4 button:hover{
    background-color: #FCBAAD;
    color: black;
    box-shadow: 10px 10px 30px black;
}

.page5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF5E4;
    height: 40vh;
}

.page5-div1{
    display: flex;
}

.page5-div1 p{
    padding: 20px;
}
    
@media (max-width:1220px)
{
    .page2{
        flex-direction: column;
    }
    .page3{
        flex-direction: column;
        height: 100%;
    }
    .page3-div2{
        flex-direction: column;
    }
    .work{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:675px){
    .me{
        height: 200px;
    }
    .me-div{
        width: 240px;
        height: 240px;
    }
    .page2 h1{
font-size: 2rem;
text-align: center;
    }
    .page2 p{
        font-size: 1rem;
    }
    .page4 h1{
        
            font-size: 2rem;
        
    }
    .page4 p{
        font-size: 1rem;
    }

    .page4 button{
        width: 100px;
        height: 40px;
        font-size: 1rem;
    }
    .page3 h1{
        font-size: 2rem;
    }
}